@font-face {
    font-family: "AvenirRegular";
    weight: 400;
    src: url("../assets/global-fonts/avenir-regular.otf");
}

@font-face {
    font-family: "AvenirDemi";
    weight: 500;
    src: url("../assets/global-fonts/avenir-demi.otf");
}

@font-face {
    font-family: "AvenirBold";
    weight: 600;
    src: url("../assets/global-fonts/avenir-bold.otf");
}
