@font-face {
	font-family: "AvenirRegular";
	src: url("../assets/GlobalFont/AvenirNextProLT/regular.otf");
}

@font-face {
	font-family: "AvenirDemi";
	src: url("../assets/GlobalFont/AvenirNextProLT/demi.otf");
}

@font-face {
	font-family: "AvenirBold";
	src: url("../assets/GlobalFont/AvenirNextProLT/bold.otf");
}
