.indet {
  &__div {
    margin: 16px 5vw;
  }

  &__heading {
    margin-bottom: 16px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    &-sub {
      display: flex;
      flex-flow: row;
      align-items: flex-end;
      margin-bottom: 16px;
    }
  }

  &__backarrow {
    margin-right: 16px;
  }

  &__name {
    font-family: AvenirBold;
    font-size: 1.8rem;
  }

  &__indicator {
    background: #58a314;
    width: 88px;
    height: 24px;
    font-family: AvenirDemi;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    border-radius: 5px;
  }

  &__info {
    &-box {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      margin-bottom: 15px;
    }

    &-head {
      text-transform: uppercase;
      font-family: AvenirDemi;
      color: $silver;
      margin-bottom: 5px;
    }

    &-body {
      color: $black;
    }
  }

  &__small {
    &-box {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      margin-bottom: 24px;
    }

    &-head {
      text-transform: uppercase;
      font-family: AvenirDemi;
      color: $silver;
      margin-bottom: 16px;
    }

    &-body {
      color: $black;
    }
  }

  &__fription {
    margin-bottom: 32px;
  }

  &__tags {
    margin-bottom: 40px;
  }

  &__edit {
    font-family: AvenirDemi;
    background: $instock-blue;
    color: $alabaster;
    width: 90vw;
    height: 48px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1rem;
  }
  &__edit-cancel {
    font-family: AvenirDemi;
    background: $white;
    color: $instock-blue;
    width: 90vw;
    height: 48px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-size: 1rem;
  }

  &__input-edit-desc {
    width: 80vw;
    padding: 15px 5px;
    box-sizing: border-box;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    resize: none;
    width: 90vw;

  }
  &__input-edit-order-by {
    //    margin-left: 5vw;
    width: 75vw;
    padding: 15px 5px;
    box-sizing: border-box;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    resize: none;
    width: 90vw;

  }
  &__input-edit-ref {
    width: 75vw;
    padding: 15px 5px;
    box-sizing: border-box;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    resize: none;
    width: 90vw;

  }
  &__input-edit-order {
    width: 75vw;
    padding: 15px 5px;
    box-sizing: border-box;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    resize: none;
    width: 90vw;

  }
  &__input-edit-location {
    width: 75vw;
    height: 15vw;
    box-sizing: border-box;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    resize: none;
    padding: 3vw;
    width: 90vw;

  }
  &__input-edit-quant {
    width: 75vw;
    padding: 15px 5px;
    box-sizing: border-box;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    resize: none;
    width: 90vw;

  }
  &__input-edit-categ {
    width: 75vw;
    padding: 15px 5px;
    box-sizing: border-box;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fafafa;
    resize: none;
    height: 100px;
    width: 90vw;

  }
}

@include medium {
  .indet {
    &__div {
      width: 93.75vw;
      margin: 32px 3.125vw;
    }

    &__heading {
      flex-flow: row;
      align-items: center;
    }

    &__indicator {
      margin-bottom: 16px;
      margin-left: 24px;
    }

    &__details {
      
      &-small {
        display: flex;
        flex-flow: row wrap;
        align-items: initial;
        justify-content: initial;
      }
    }

    &__small {
      &-box {
        width: 50%;
      }
    }

    &__flex {
      border-top: 2px solid $silver;
      padding-top: 32px;
      border-bottom: 2px solid $silver;
    }

    &__edit {
      width: 160px;

      &-wrapper {
        padding-top: 32px;
        display: flex;
        justify-content: flex-end;
      }

      &-cancel {
        width: 50px;
        margin-right: 40px;
      }

      &-buttonsflex {
        display: flex;
        flex-flow: row-reverse;
      }
    }

      &__input-edit {
        &-desc {
          width: 66.67vw;
          height: 100px;
          padding-top: 0;
        }

        &-order-by, &-ref, &-order, &-quant {
          width: 30vw;
          margin-right: 5vw;
      }

      &-categ {
        width: 66.67vw;
        height: 100px;
        padding-top: 0;

      }
    
  }
}

@include huge {
  .indet {
    &__heading {
      margin-bottom: 14px;
    }

    &__div {
      margin: 48px 12.5vw;
      width: 75vw;
    }

    &__description {
      width: 52%;
    }

    &__flex {
      display: flex;
      flex-flow: row;
      padding-top: 40px;
    }

    &__small {
      &-head {
        margin-bottom: 24px;
      }
      &-body {
        margin-bottom: 56px;
      }
    }

    &__tags {
      margin-bottom: 48px;
    }

    &__edit {
      &-wrapper {
        padding-top: 40px;
      }
    }

    &__input-edit {
      &-desc {
        width: 35vw;
        height: 100px;
        padding-top: 0;
        margin-right: 10vw;
      }

      &-order-by, &-ref, &-order, &-quant {
        width: 15vw;
        margin-right: 2.7vw;
        height: 10px;
    }

    &-categ {
      width: 35vw;
      height: 100px;
      padding-top: 0;

    }
  
}



  }
}
}