.inventory {
  //   &__div {
  //   }
  &__input {
    width: 75vw;
    height: 15vw;
    box-sizing: border-box;
    border: 0.4vw solid #e1e1e1;
    border-radius: 1.2vw;
    background-color: #fafafa;
    resize: none;
    margin-top: 3vw;
    padding: 5vw;
  }
  //   &__item {
  //   }
  //   &__label {
  //   }
  //   &__order {
  //   }
  //   &__location {
  //   }
  //   &__quantity {
  //   }
  //   &__status {
  //   }
}
