.inventory {
  &__div {
    border-bottom: solid 0.2vw $mercury;
    margin: 10vw 5vw;
  }
  &__desk-title-row {
    display: none;
  }

  &__title {
    margin-left: 5vw;
    color: $black;
    font-family: "a-bold";
  }
  &__input {
    margin-left: 5vw;
    background-image: url(../assets/Icons/SVG/Icon-search.svg);
    background-repeat: no-repeat;
    background-position-x: 4vw;
    background-position-y: 5vw;
    width: 75vw;
    height: 15vw;
    box-sizing: border-box;
    border: 0.4vw solid $mercury;
    border-radius: 1.2vw;
    background-color: $alabaster;
    resize: none;
    margin-top: 3vw;
    padding: 5vw;
    padding-left: 35px;
  }
  &__item {
    font-family: "a-regular";
  }

  &__label {
    color: $silver;
    font-family: "a-demi";
    font-size: 15px;
  }
  &__itens {
    font-family: "a-regular";
    font-size: 15px;
  }
  &__itens-bold {
    font-family: "a-demi";
    font-size: 15px;
  }
}

@include medium {
  .inventory {
    &__div {
      border-bottom: solid 0.15vw $mercury;
      display: flex;
      justify-content: space-around;
      margin: 3.1vw;
      align-items: center;
    }
    &__initial {
      display: flex;
      justify-content: space-between;
    }
    &__desk-title-row {
      display: flex;
      color: $silver;
      font-family: "a-demi";
      font-size: 8px;
      text-transform: uppercase;
      justify-content: space-around;
    }
    &__label {
      display: none;
    }

    &__title {
      font-size: 35px;
    }
    &__input {
      border: 0.1vw solid #e1e1e1;
      width: 22vw;
      height: 7vw;
      padding: 1vw;
      border-radius: 0.3vw;
      background-position-x: 2vw;
      background-position-y: 2.5vw;
      padding-left: 5vw;
      margin: 3vw;
    }
    &__itens {
      width: 14vw;
      text-align: center;
    }
    &__desk-status {
      margin-right: 7vw;
    }

    &__desk-itens {
      margin-right: 6vw;
    }

    &__desk-label-item {
      width: 33vw;
      margin-left: 3vw;
    }
    &__itens-description {
      width: 33vw;
    }
    &__itens-bold {
      width: 33vw;
    }
  }
}

@include huge {
  .inventory {
    &__title {
      margin: auto 0;
    }
    &__initial {
      justify-content: space-around;
    }
    &__desk-title-row {
      width: 75vw;
      margin: 0 auto;
      align-items: center;
    }

    &__div {
      width: 75vw;
      margin: 0 auto;
      border-bottom: solid 0.1vw #e1e1e1;
    }
    &__input {
      width: 17.5vw;
      height: 3.3vw;
      padding: 1vw;
      padding-left: 2.8vw;
      background-position-x: 1vw;
      background-position-y: 1.2vw;
      background-size: 1vw;
      margin-right: 0;
    }

    &__itens {
      width: 6.6vw;
    }
    &__desk-itens {
      width: 15vw;
      margin: 0;
    }
    &__desk-status {
      width: 15vw;
      margin-right: 0vw;
    }
    &__status {
      display: flex;
      align-items: center;
    }
    &__quantity {
      display: flex;
      align-items: center;
    }
    &__location {
      display: flex;
      align-items: center;
    }
    &__order {
      display: flex;
      align-items: center;
    }
  }
}
