@import "./partials/breakpoints";
@import "./partials/fonts";
@import "./partials/colors";

@import "./partials/header";
@import "./partials/inventory";
@import "./partials/locations";
@import "./partials/locationDetail";
@import "./partials/newLocation";
@import "./partials/inventorydetail";
@import "./partials/bigUpload";

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AvenirRegular;
}

button {
  border: none;
  background: none;
}

button:focus {
  outline: none;
}

.css-2b097c-container {
  width: 90vw;
}


.uploadBig-selector .css-2b097c-container {
	width: 20px;
}

@include medium {
  .css-2b097c-container {
    width: 30vw;
    margin-right: 5vw;
  }
}

@include huge {
  .css-2b097c-container {
    width: 15vw;
    margin-right: 2.7vw;

  }
}
